.card-detail-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(#000, .85);
}

.card-detail {
  position: absolute;
  left: 50%;
  width: 100%;
  max-width: 480px;
  height: 100%;
  padding: 10px 0;
  transform: translateX(-50%);
  color: #fff;
  overflow: auto;
  label {
    color: inherit;
    text-align: right;
  }
  textarea {
    width: 100%;
    resize: vertical;
  }
  input[type='text'],
  textarea {
    border-color: rgba(#fff, .2);
    background-color: rgba(#000, .2);
    color: #fff;
  }
}
